<div class="w-full shadow shadow stats">
  <div class="stat place-items-center place-content-center">
    <div class="stat-title">Most average tries per game</div>
    <div class="stat-value"><%= PlayerStat.all.where(name: 'avg_tries_per_game') %></div>
    <div class="stat-desc">bla</div>
  </div>
</div>
