<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="px-2 mx-2 navbar-start">
    <span class="text-lg font-bold">
            nrl stats
          </span>
  </div> 
  <div class="navbar-end hidden px-2 mx-2 navbar-center lg:flex">
    <div class="flex items-stretch">
      <a class="btn btn-ghost btn-sm rounded-btn">
              Home
            </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
              Games
            </a> 
      <a class="btn btn-ghost btn-sm rounded-btn">
              Stats
            </a> 
    </div>
  </div> 
</div>